# Dotenv file
.env

# Hardhat
node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/localhost
